/********** Base **********/

@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

:root {
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);

    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Be Vietnam', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/********** Utilities **********/

/********** Header **********/

.header {
    padding: 30px 15px;
}

.header__flex-container {
    display: flex;
    justify-content: space-between;
}

.logo-svg {
    width: 110px;
}

.nav {
    padding: 30px 0;
}

.nav__list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    font-weight: 700;
    line-height: 2.3em;
}

.start-desktop {
    display: none;
}

/********** Main **********/

/********** Footer **********/

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}